@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url("/Images/Hero_bg.png");
  background-size: cover;
  object-fit: contain;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.login-img {
  background-image: url("/Images/Register_bg.png");
  background-size: cover;
  background-position: 30% 40%;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.scroll::-webkit-scrollbar {
  width: 0.01px;
  /* Width of the scrollbar */
}
.scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

.textarea-class{
  height: 1120px;
  width: 80vw;
  overflow-y: scroll;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-animation {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  transform: translate(38rem, -30rem);
}